/* HTML tags formatting */

body {
    background-color: black;
    margin-left: 2rem;
    margin-right: 2rem;
    animation: fadeIn 3s;
}


p {
    font-size: 4rem;
    text-align: center;
    color: white;
    font-family: Copperplate;
}

button,
input[type="submit"] {
    background-color: #F6F4ED;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    padding: 1.5rem 3rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 12rem;
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    animation: fadeIn 3s;
    font-family: Copperplate;
    margin-bottom: 1rem;
}

button[type="button"]:hover,
input[type="submit"]:hover {
    cursor: pointer;
    color: white;
    background-color: #A71313;

}

/* HTML classes formatting */
.menu {
    grid-area: menu;
    margin-top: 1rem;
    max-width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #A71313;
    text-align: center;
}



.grid-container {
    display: grid;
    grid-template-areas:
        'menu'
        'header'
        'chart'
        'footer';
    gap: 10px;
    padding: 10px;
}

.tradingview_7fe84 {
    grid-area: chart;
    height: 50rem;
    margin-top: 20px;
}

.chart {
    border-top-style: solid;
    border-top-color: #A71313;
}

.header {
    grid-area: header;
    border-bottom-style: solid;
    border-bottom-color: #A71313;
    border-top-style: solid;
    border-top-color: #A71313;
}

/* page effect */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }